<!DOCTYPE html>
<html>
<head>
  <title>OscMacheteRails</title>
  <%= stylesheet_link_tag    "osc_machete_rails/application", media: "all" %>
  <%= javascript_include_tag "osc_machete_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
